.card {
  width: 80px;
  height: 120px;
  border: 1px solid rgb(122, 121, 121);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 7px;
}

.highlighted {
  background-color: #2574db;
  color: #fff;
}
